<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Starting Point" %>
    <%= f.text_field :startpoint, :placeholder => "City, State" %>
  </div>
  <div class="field">
    <%= f.label "Starting Date & Time" %>
    <%= f.datetime_select :startdate %>
  </div>
  <div class="field">
    <%= f.label "Destination" %>
    <%= f.text_field :endpoint %>
  </div>
  <div class="actions">
    <%= f.submit 'Create New Trip', :class => 'btn btn-primary' %>
  </div>
<% end %>
