%h1 All Trips

- @trips.each do |trip|
  .trip
    %h2 
      #{trip.startpoint} to #{trip.endpoint}
    %div
      Starting Point: #{trip.startpoint}
    %div
      Starting Date / Time: #{trip.startdate}
    %div
      Destination: #{trip.endpoint}
    .btn-group  
      = link_to 'Show', trip, :class => "btn"
      = link_to 'Edit', edit_trip_path(trip), :class => "btn"
      = link_to 'Delete', trip, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn"
= link_to 'New Trip', new_trip_path, :class => "btn btn-primary"