<h1>All Trips</h1>




<% @trips.each do |trip| %>

    <ul>
      <li>Starting Point: <%= trip.startpoint %></li>
      <li>Starting Date / Time: <%= trip.startdate %></li>
      <li>Destination: <%= trip.endpoint %></li>
    <%= link_to 'Show', trip %>
    <%= link_to 'Edit', edit_trip_path(trip) %>
    <%= link_to 'Delete', trip, method: :delete, data: { confirm: 'Are you sure?' } %>
    </ul>
  
<% end %>




<%= link_to 'New Trip', new_trip_path, :class => "btn btn-primary" %>
